﻿@using Microsoft.FluentUI.AspNetCore.Components.Utilities
@inherits FluentComponentBase

<div id="@Id" class="@ClassValue" style="@Style" @ref="Element" @attributes="AdditionalAttributes">
    <CascadingValue Name="FillColor" TValue="string" Value="null">
        <FillColorHost Element="Element">
            @ChildContent
        </FillColorHost>
    </CascadingValue>
</div>

@code
{
    protected string ClassValue => new CssBuilder(Class)
        .AddClass("fill-color-div")
        .Build();

    [Parameter]
    public RenderFragment ChildContent { get; set; }

    [Parameter]
    public string FillColor { get; set; }
}
