@using Microsoft.FluentUI.AspNetCore.Components.Utilities
@inherits FluentComponentBase

<div id="@Id" class="@ClassValue" style="@Style" @ref="Element" @attributes="AdditionalAttributes">
    <div class="fluent-input-label">
        <label>@Label</label>
        @ActionContent
    </div>
    @ChildContent
</div>

@code
{
    protected string ClassValue => new CssBuilder(Class)
        .AddClass("input-label")
        .Build();

    /// <summary>
    /// Gets or sets the text to label the input. This is usually displayed just above the component.
    /// </summary>
    [Parameter]
    public string Label { get; set; }

    [Parameter]
    public RenderFragment ActionContent { get; set; }

    [Parameter]
    public RenderFragment ChildContent { get; set; }
}
