.fluent-input-label {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--neutral-foreground-rest);
    font-family: var(--body-font);
    font-size: var(--type-ramp-base-font-size);
    line-height: var(--type-ramp-base-line-height);
    font-weight: initial;
    font-variation-settings: var(--type-ramp-base-font-variations);
    margin-bottom: calc(var(--design-unit) * 1px);
}

    .fluent-input-label label {
        cursor: pointer;
    }
