@using Wherlog.Helpers
@using Wherlog.Models
@inherits LayoutComponentBase

<FluentLayout>
    <FluentHeader>@(site?.Title ?? "wherlog")</FluentHeader>
    <FluentStack Orientation="Orientation.Horizontal" Width="100%">
        <div style="background: var(--neutral-layer-1); border-radius: calc(var(--layer-corner-radius)* 1px); padding-left: 1px; padding-right: 1px;">
            <NavMenu />
        </div>
        <FluentBodyContent Class="body-content" Id="body-content">
            <ErrorBoundary>
                <ChildContent>
                    <div class="content">@Body</div>
                </ChildContent>
                <ErrorContent Context="ex">
                    <div class="blazor-error-boundary">@ex.Message</div>
                </ErrorContent>
            </ErrorBoundary>
        </FluentBodyContent>
    </FluentStack>
    <FluentFooter>
        <span>Copyright © 2017 - 2024 wherewhere. All Rights Reserved</span>
        <FluentSpacer />
        <a href="https://github.com/wherewhere/wherlog" target="_blank">Github</a>
    </FluentFooter>
</FluentLayout>

@code
{
    private RequestHelper request = RequestHelper.Default;
    private SiteModel site;

    protected override async Task OnInitializedAsync()
    {
        site = await request.GetSiteAsync().GetResults();
    }
}
