﻿@using Markdig
@inherits FluentComponentBase
@implements IAsyncDisposable
@inject IJSRuntime JSRuntime
@inject ILogger<MarkdownSection> Logger

<div id="@Id" class="@ClassValue" style="@Style" @ref="Element" @attributes="AdditionalAttributes">@HtmlContent</div>
