﻿@using Markdig
@inherits FluentComponentBase
@implements IAsyncDisposable
@inject IJSRuntime JSRuntime
@inject ILogger<MarkdownSection> Logger

<div class="@ClassValue" style="@Style">@HtmlContent</div>
