::deep .nav-menu-icon {
    display: none;
}

@media (max-width: 600px) {
    ::deep nav.sitenav {
        width: 100%;
        position: absolute;
        z-index: 1;
        background-color: var(--neutral-layer-1);
    }

    ::deep #main-menu {
        width: 100% !important;
    }

        ::deep #main-menu > div:first-child:is(.expander) {
            display: none;
        }

    .nav-menu {
        width: 100%;
    }

    ::deep #nav-menu-toggle {
        appearance: none;
    }

        ::deep #nav-menu-toggle ~ nav {
            display: none;
        }

        ::deep #nav-menu-toggle:checked ~ nav {
            display: block;
        }

    ::deep .nav-menu-icon {
        cursor: pointer;
        z-index: 10;
        display: block;
        position: absolute;
        top: 15px;
        left: unset;
        right: 20px;
        right: calc(100vw - env(titlebar-area-width, 100vw) - env(titlebar-area-x, 0) + 20px);
        width: 20px;
        height: 20px;
        border: none;
        -webkit-app-region: no-drag;
    }

    ::deep [dir="rtl"] .nav-menu-icon {
        left: 20px;
        left: calc(env(titlebar-area-x, 0) + 20px);
        right: unset;
    }
}
