::deep .post-header {
    margin-bottom: 0.5rem;
}

::deep .post-title {
    margin: initial;
    overflow-wrap: break-word;
}

::deep img {
    max-width: 100%;
}

    ::deep img.emoji {
        height: 18px;
        width: 18px;
    }

::deep figure.highlight {
    display: block;
    border: calc(var(--stroke-width) * 1px) solid var(--neutral-stroke-rest);
    border-radius: calc(var(--control-corner-radius) * 1px);
    background-color: var(--neutral-layer-2);
    overflow-x: auto;
}

    ::deep figure.highlight table {
        margin-bottom: 0;
    }

    ::deep figure.highlight pre {
        border: 0;
        margin: 0;
        padding: 1em;
    }

    ::deep figure.highlight .gutter {
        user-select: none;
    }

        ::deep figure.highlight .gutter pre {
            background-color: var(--neutral-layer-2);
            padding-left: 10px;
            padding-right: 10px;
            text-align: right;
        }

    ::deep figure.highlight .code pre {
        padding-left: 10px;
        width: 100%;
    }

::deep figcaption {
    color: var(--neutral-foreground-hint);
    font-size: 0.875em;
    font-weight: bold;
    line-height: 1;
    margin: auto auto 15px;
    text-align: center;
}
