@using Wherlog.Models
@using Wherlog.Models.Post
@inject IStringLocalizer<PostDetailCard> Loc

<TableContentsView Heading="@Loc["TableOfContentsHeading"]" @ref=_toc>
    <h1 class="post-title">@Post.Title</h1>
    <MarkdownSection OnContentConverted="_toc.RefreshTableOfContentsAsync" Content="@((Post as IRaw).GetContent())" />
</TableContentsView>

@code
{
    private TableContentsView _toc;

    private bool IsPost => Post is PostDetailModel;

    [Parameter]
    public IDetail Post { get; set; }
}
