@using Wherlog.Models
@using Wherlog.Models.Post
@inject IStringLocalizer<PostDetailCard> Loc

<div class="post-detail-card">
    <article id="article">
        <h1 class="post-title">@Post.Title</h1>
        <MarkdownSection OnContentConverted="RefreshTableOfContentsAsync" Content="@((Post as IRaw).GetContent())" />
    </article>
    <aside>
        <TableOfContents Heading="@Loc["TableOfContentsHeading"]" @ref=_toc />
    </aside>
</div>

@code
{
    private TableOfContents _toc;

    private bool IsPost => Post is PostDetailModel;

    [Parameter]
    public IDetail Post { get; set; }

    private Task RefreshTableOfContentsAsync() => _toc?.Refresh() ?? Task.CompletedTask;
}
