@using Wherlog.Models.Post
@inject IJSRuntime JSRuntime
@inject NavigationManager Navigation

@if (Post != null)
{
    <div @onclick="() => OnClick(Post.Url)">
        <h3>@Post.Title</h3>
        @(new MarkupString(Post.Excerpt))
    </div>
}

@code
{
    private const string JAVASCRIPT_FILE = $"./{nameof(Controls)}/{nameof(PostCard)}.razor.js";

    private IJSObjectReference _jsModule = default;

    [Parameter]
    public PostModel Post { get; set; }

    private void OnClick(string path)
    {
        Navigation.NavigateTo($"posts/{path}");
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            // add highlight for any code blocks
            _jsModule = await JSRuntime.InvokeAsync<IJSObjectReference>("import", JAVASCRIPT_FILE);
            await _jsModule.InvokeVoidAsync("highlight");
            await _jsModule.InvokeVoidAsync("fixEmoji");
        }
    }
}
