* {
    --settings-expander-header-padding: 4px 0px 4px 8px;
    --settings-expander-item-padding: 0px 36px 0px 50px;
}

::deep div.settings-presenter {
    padding: var(--settings-expander-header-padding);
}

::deep div.setting-expander-content-grid {
    padding: var(--settings-expander-item-padding);
}
