@using Microsoft.FluentUI.AspNetCore.Components.Utilities
@inherits SettingsCardBase

<div id="@Id" class="@ClassValue" style="@Style" @ref="Element" @attributes="AdditionalAttributes">
    <FluentCard Class="fluent-card"
                AreaRestricted="false"
                MinimalStyle="true">
        <CascadingValue Name="FillColor" Value="FillColor">
            <SettingsPresenter Icon="Icon"
                               Header="Header"
                               Description="Description"
                               ActionContent="ActionContent" />
        </CascadingValue>
    </FluentCard>
</div>

@code
{
    protected override string ClassValue => new CssBuilder(Class)
        .AddClass("settings-card")
        .Build();
        
	/// <summary>
	/// Gets or sets the FillColor for the card.
	/// </summary>
    [CascadingParameter(Name = nameof(FillColor))]
    private string FillColor { get; set; } = "neutralFillInputRest";
}
