* {
    --body-strong-text-block-font-size: 14px;
}

div.settings-group {
    width: 100%;
}

::deep div.header-presenter {
    margin: 1rem 0px 6px 1px;
    font-size: var(--body-strong-text-block-font-size);
    font-weight: bold;
}

::deep div.items-presenter {
    display: flex;
    flex-direction: column;
    row-gap: 0.3rem;
}
