* {
    --settings-card-border-thickness: 1px;
    --settings-card-padding: 16px;
    --settings-card-description-font-size: 12px;
    --settings-card-header-icon-max-size: 20px;
    --settings-card-content-min-width: 240px;
    --settings-card-header-icon-margin: 0px 20px 0px 2px;
}

::deep div.root-grid {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

::deep div.icon-holder {
    max-width: var(--settings-card-header-icon-max-size);
    max-height: var(--settings-card-header-icon-max-size);
    margin: var(--settings-card-header-icon-margin);
}

::deep div.header-panel {
    display: flex;
    flex-direction: column;
    margin: 0px 24px 0px 0px;
}

::deep span.description {
    font-size: var(--settings-card-description-font-size);
    color: var(--neutral-fill-strong-hover);
}
