div.settings-presenter {
    --settings-card-description-font-size: var(--type-ramp-minus-1-font-size);
    --settings-card-header-icon-max-size: var(--type-ramp-base-line-height);
    --settings-card-content-min-width: 240px;
    --settings-card-header-icon-margin: 0 calc((var(--base-horizontal-spacing-multiplier) * 6 + var(--design-unit) * 0.5) * 1px) 0 calc((var(--base-horizontal-spacing-multiplier) * 6 - var(--design-unit) * 4) * 1px);
    --settings-card-vertical-header-content-spacing: calc(var(--design-unit) * 2px) 0 0 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

div.header-root {
    display: flex;
    align-items: center;
    flex: 1;
}

div.icon-holder {
    max-width: var(--settings-card-header-icon-max-size);
    max-height: var(--settings-card-header-icon-max-size);
    margin: var(--settings-card-header-icon-margin);
}

div.header-panel {
    display: flex;
    flex-direction: column;
    margin: 0 calc(var(--design-unit) * 6px) 0 0;
}

span.description {
    font-size: var(--settings-card-description-font-size);
    color: var(--neutral-fill-strong-hover);
}

div.content-presenter {
    display: grid;
}

::deep a.text-button {
    font-weight: bold;
    text-decoration: unset;
}

@media (max-width: 600px) {
    div.settings-presenter {
        --settings-card-content-min-width: auto;
        flex-flow: column;
        justify-content: unset;
        align-items: unset;
    }

    div.header-panel {
        margin: unset;
    }

    div.content-presenter {
        margin: var(--settings-card-vertical-header-content-spacing);
    }

    .settings-nowarp div.settings-presenter {
        flex-flow: row;
        justify-content: space-between;
        align-items: center;
    }

    .settings-nowarp div.settings-presenter div.header-panel {
        margin: 0 calc(var(--design-unit) * 6px) 0 0;
    }

    .settings-nowarp div.settings-presenter div.content-presenter {
        margin: unset;
    }
}
