@inherits SettingsCardBase

<div id="@Id" class="@ClassValue" style="@Style" @ref="Element" @attributes="AdditionalAttributes">
    <FluentCard onclick="@OnClick"
                Class="fluent-card clickable-card"
                AreaRestricted="false"
                MinimalStyle="true">
        <CascadingValue Name="FillColor" Value="FillColor">
        <div class="content-grid">
            <SettingsPresenter Icon="Icon"
                               Header="Header"
                               Description="Description"
                               ActionContent="ActionContent" />
            @if (ActionIcon != null)
            {
                <div class="action-icon-holder">
                    @ActionIcon
                </div>
            }
        </div>
        </CascadingValue>
    </FluentCard>
</div>
