* {
    --settings-button-padding: 16px 0 16px 16px;
}

::deep div.content-grid {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

::deep div.action-icon-holder {
    width: 32px;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 8px;
}
