@inject IStringLocalizer<TableContentsView> Loc

<div class="table-contents-view">
    <article id="article">
        @ChildContent
    </article>
    <aside>
        <TableOfContents Heading="@Heading" @ref=_toc />
    </aside>
</div>

@code
{
    private TableOfContents _toc;

    /// <summary>
    /// Gets or sets the heading for the ToC
    /// Defaults to 'In this article'
    /// </summary>
    [Parameter]
    public string Heading { get; set; }

    /// <summary>
    /// Gets or sets the content of a ContentControl.
    /// </summary>
    [Parameter]
    public RenderFragment ChildContent { get; set; }

    /// <inheritdoc/>
    protected override void OnInitialized() => Heading ??= Loc[nameof(Heading)];

    /// <summary>
    /// Refreshes the Table of Contents.
    /// </summary>
    /// <returns>A task that represents the asynchronous operation.</returns>
    public Task RefreshTableOfContentsAsync() => _toc?.Refresh() ?? Task.CompletedTask;
}
