@page "/settings"
@inject NavigationManager Navigation

<FluentDesignTheme
    @bind-Mode="@mode"
    StorageName="theme" />

<PageTitle>Settings</PageTitle>

<h1>Settings</h1>

<h4>Theme</h4>
<FluentSelect
    Width="250px"
    Items="@(Enum.GetValues<DesignThemeModes>())"
    @bind-SelectedOption="@mode" />

<h4>Navigate</h4>
<FluentStack>
    <FluentTextField @bind-Value="path" />
    <FluentButton OnClick="@(() => Navigation.NavigateTo(path ?? string.Empty))">前往</FluentButton>
</FluentStack>

@code
{
    private DesignThemeModes mode;
    private string path;
}
