::deep th {
    padding: 0 5px 0 5px;
    border-width: 1px;
}

::deep td {
    padding: 0 5px 0 5px;
    border-width: 1px;
}

::deep img {
}

::deep .snippet {
    margin-bottom: 0.5rem;
    border: calc(var(--stroke-width) * 1px) solid var(--neutral-stroke-rest);
    border-radius: calc(var(--control-corner-radius) * 1px);
    overflow-y: auto;
}

::deep .hljs {
    background-color: var(--neutral-layer-2);
    tab-size: 2em;
}

::deep .hljs-copy-button {
    border-color: var(--neutral-fill-strong-rest);
    color: var(--accent-fill-rest);
    top: 0.4rem;
}

    ::deep .hljs-copy-button:hover {
        border-color: var(--neutral-fill-strong-hover);
    }

    ::deep .hljs-copy-button:active {
        border-color: var(--neutral-fill-strong-active);
    }

::deep .hljs-copy {
    cursor: pointer;
    border-color: var(--neutral-stroke-rest);
    border-radius: calc(var(--control-corner-radius) * 1px);
    color: var(--accent-fill-rest);
    background-color: var(--neutral-layer-2);
    top: 0.4rem;
}

::deep .hljs-copy {
    position: absolute;
    transform: translateX(calc(100% + 1.125em));
    right: 1em;
    transition: background-color 200ms ease, transform 200ms ease-out;
}

::deep .hljs-copy-wrapper {
    position: relative;
    overflow: hidden
}

    ::deep .hljs-copy-wrapper:hover .hljs-copy, .hljs-copy:focus {
        transform: translateX(0);
    }
